
<div class="post-content <% if(config.post_style && !config.post_style.indent) {%>no-indent<% } %>">
    <%-page.content%>
    <% if(config.donate){%>
        <%- partial('_partial/donate', null, {cache: false}) %>
    <% } %>
    <div id="comment-container">


    </div>
</div>

<script>
  let project = document.querySelectorAll('.project')
  let projectOpenOpacity = document.querySelectorAll('.project-open-opacity')
  let pti = document.querySelectorAll('.project-title img')
  for(let i = 0 ; i < project.length ; i++){
    project[i].addEventListener('click', function(e) {
      this.classList.toggle("project-open")
      projectOpenOpacity[i].classList.toggle("open-opacity")
      pti[i].classList.toggle("arrow-rotate")
    })
  }
</script>
